*{
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body ul li {
  padding:0;
  list-style:none;
}

body {
  background-color:$bg; //$bg
  margin:0;
}

wrapper {
  margin:0;
  padding:0;
}

row {
  margin:0;
  padding:0;
}

i {
  color:white;
}

a{
  text-decoration:none;
}