@import 'layout/forms';
@import 'components/buttons';
@import 'abstract/variables';
@import 'abstract/functions';
@import 'abstract/mixins';
@import 'layout/grid';
@import 'base/universal';
@import 'base/universal';

body {
  font-family: arial;
  h1 {
    font-size: 20px;
    color: red;
  }
}