// size decrease queries below

@media ("max-width:1000px"){
  .offset-1 {
    margin-left:0 !important;
  }
 .cForm{
    width:66.68% !important;
    transition:all 0.5s ease;
  }
}


@media("max-height": 550px) {
  .landing-button {
    top: 70% !important;
  }
}

@media ("max-width:530px") {
    .offset-2 {
        margin-left:0 !important;
    }

    .cForm{
        width:100% !important;
        transition:all 0.5s ease;
        padding:0 1 0 1px;
      }

    .ftcol {
        height:280px !important;
    }
}

@media ("max-width:767px"){
  .logo h1{
    float:left;
    padding-left:10px;
    font-size:30px!important;
    transition:all 0.5s ease;
  }
  h1 {
      font-size: 2rem;
    }

  .button {
      width: 12rem;
    }
}


// Size increase queries below

@media ("min-width:620px"){
  .mqsix {
    width:50%;
    transition:all 0.5s ease;
  }
  .ftcol {
    width:50%;
  }

}

@media ("min-width:1000px"){
  .col-12{
    width:83.3333333333%;
    transition:all 0.5s ease;
  }
  .mqsix {
    width:20.8%!important;
  }

  .bgImg {
    height:400px;
   }

  .bgImg-2 {
    height:400px;
  }
  .bgImg-3 {
    height:400px;
  }

  .bgImg-4{
    height:400px;
  }
  .cForm{
    width:67% !important;
    transition:all 0.5s ease;
  }
  .ftcol {
      width:41.65%;
  }
}

// height query

@media(max-height: 550px) {
  .button {
    top: 70% !important;
  }
}