//DECLARED VARIABLES
$max_width : 100%; /* a var for max width */
$grid_cols : 12; // total number of columns
$single_col: $max_width / $grid_cols;

//style variables
$bg : #7768AE;
$bg2: #846be0;
$blue: #4d9de0;
$green: #e1bc29;
$footer: #202020;

