.module-hamburger-menu ul {
  background-color: #f2f2f2;
  border: 2px solid #ddd;
  overflow: hidden;
  margin-top:30px;
  height:200px;
}

.module-hamburger-menu li {
  list-style: none;
}

.module-hamburger-menu a {
  color: black;
  display: block;
  padding: 7px 20px;
  text-align:center;
  margin:0;
  font-weight:bold;
}

.module-hamburger-menu a:hover {
  background-color: grey;
  width:100%;
  transition:all 0.8s ease;

}

.module-hamburger-menu-content {
  margin-top:40px;
  height:150px;

}

.module-hamburger-menu-button {
  float:right;
  cursor:pointer;
}

ul{
  padding:0;
  margin:0;
  text-align:center;
}



@media screen and (min-width: 768px) {
  .module-hamburger-menu li {
    float: left;
  }
  .module-hamburger-menu ul {
    background-color: #f2f2f2;
    border: 2px solid #ddd;
    overflow: hidden;
    margin-top:0px;
    height:40px;
    padding-top:0px;
  }

}
