//social links

.footer {
  &, ul, li, a {
    color: white;
    width: 55px;
    margin:0 10px 3px;
  }
}

.footer {
  .fa:hover{
    transform: rotateY(360deg);
    opacity: 0.7;
    transition: .5s;
    display:block;
  }
}

.circle-icon {
  padding: 20px;
  border-radius: 100%;
}


.fa-facebook {
  background: #3B5998;
}
.fa-twitter {
  background: #1DA1F2;
}

.fa-youtube {
  background:#BB0000;
}

.fa-github{
  background:#1DA1F2;
}