//social links

.footer {
  & a {
    color:white;
  }
  & ul {
    text-align:center;
  }
  & li {
    display:inline-block;
  }
}
.social {
  margin:0 10px 3px;
}

.footer {
  .fa:hover{
    transform: rotateY(360deg);
    opacity: 0.7;
    transition: .3s;
  }
}

.circle-icon {
  padding: 20px;
  border-radius: 100%;
}


.fa-facebook {
  background: #3B5998;
}
.fa-twitter {
  background: #1DA1F2;
}

.fa-youtube {
  background:#BB0000;
}

.fa-github{
  background:#1DA1F2;
}