.container {
  position:relative;
  width:100%;
  height:100%;
  background:$container-bg-color;
}

.side {
  position:absolute;
  width:50%;
  height:100%;
  overflow:hidden; // stops scroll
}

.side {
  & h1 { // helps with nesting, if you don't use affects burger menu
    font-size: 3rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-transform: uppercase;
  }
}

.side.left{
  left:0;
  background: url("/images/landingcode.jpg") center center no-repeat;
  background-size: cover;
}
.side.left:before {
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background:$left-bg-color;
}

.side.right{
  right:0;
  background: url("/images/contact-md.png");
  background-size:cover;
}

.side.right:before{
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background:$right-bg-color;
}


.side.left, .side.right, .split.right:before, .split.left:before {
  transition: 1000ms all ease-in-out;
}

.hover-left .left {
  width:$hover-width;
}

.hover-left .right{
  width:$other-width;
}

.hover-left .right:before{
  z-index:2;
}

//Opposite

.hover-right .right {
  width:$hover-width;
}

.hover-right .left{
  width:$other-width;
}

.hover-right .left:before{
  z-index:2;
}


