.container {
  position:relative;
  width:100%;
  height:100%;
  background:$container-bg-color;
}

.side {
  position:absolute;
  width:50%;
  height:100%;
  overflow:hidden;
}

.side {
  & h1 {
    font-size: 3rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-transform: uppercase;
  }
}

.landing-button{
  display:block;
  position:absolute;
  left:50%;
  top:40%;
  height:2.5rem;
  padding-top:0.5rem;
  width:15rem;
  text-align:center;
  color:#fff;
  border:#fff solid 0.2rem;
  font-size: 1rem;
  font-weight:bold;
  text-transform:uppercase;
  text-decoration:none;
  transform:translateX(-50%);
}
.side.left{
  left:0;
  background: url("/images/landingcode.jpg") center center no-repeat;
  background-size: cover;
}
.side.left:before {
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background:$left-bg-color;
}

.side.right{
  right:0;
  background: url("/images/contact-md.png");
  background-size:cover;
}

.side.right:before{
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background:$right-bg-color;
}

.side.left .landing-button:hover{
  background-color: $left-button-hover-color;
  border-color: $left-button-hover-color;
}

.side.right .landing-button:hover{
  background-color: $right-button-hover-color;
  border-color: black;
}

.side.left, .side.right, .split.right:before, .split.left:before {
  transition: 1000ms all ease-in-out;
}

.hover-left .left {
  width:$hover-width;
}

.hover-left .right{
  width:$other-width;
}

.hover-left .right:before{
  z-index:2;
}

//Opposite

.hover-right .right {
  width:$hover-width;
}

.hover-right .left{
  width:$other-width;
}

.hover-right .left:before{
  z-index:2;
}


