$bg : #7768AE;


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

#email {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

.form-container{
  label{
    padding-top:10px;
  }
}

.btn {
  background-color: $bg;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

#formComments {
  height:150px
}


input[type=submit]:hover {
  background-color: black;
}


.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin:30px auto 320px;
  max-width:500px;
}

span {
  color:red;
}

.form-control:focus {
  border-color: #7BE855;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(123,232,85,.6);
}

.form-control.error{
  border-color: #E84444;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6);
}
