$bg : #7768AE;


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

#email {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: $bg;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

#comments {
  height:150px
}

.padding {
  padding:10px;
}


input[type=submit]:hover {
  background-color: black;
}


.f-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin:0px auto 320px;

}
