
.logo h1{
  font-family: 'Rancho', cursive;
  font-size:50px;
  text-align:center;
  color:white;
  padding:0;
  margin:0;
  //text-shadow: 3px 5px 10px #000;
  text-shadow: 0 0 1px #fff,
  0 0 20px #fff,
  0 0 30px #fff,
  0 0 40px #ff00de,
  0 0 70px #ff00de,
  0 0 80px #ff00de,
  0 0 90px #ff00de,
  0 0 100px #ff00de;
  cursor:pointer;
}

.logo h1:hover{

  text-shadow: 0 0 120px #fff,
  0 0 20px #fff,
  0 0 30px #fff,
  0 0 40px #ff00de,
  0 0 70px #ff00de,
  0 0 80px #ff00de,
  0 0 90px #ff00de,
  0 0 100px #ff00de;
  cursor:pointer;
  transition:all 0.8s ease;
}

@media ("max-width:767px"){
  .logo h1{
    float:left;
    padding-left:10px;
    font-size:35px!important;
    transition:all 0.5s ease;
  }
}