

nav ul{
  list-style:none;
  padding:0px;
}

header nav li{
  float:left;
  font-size:1.6em;
  margin-right:8px;
  margin-bottom:20px;
  text-transform:uppercase;
  font-weight:bold;
  color:white;
  positions:inline-block;
}

header nav li:hover{
  color:black;
}


.hNav{
  height:36px;
}