.bgImg {
  background-image: url("/images/about-small2.jpg");
  background-repeat:no-repeat;
  background-position:center;
  height:320px;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); // gradient to fade to transparency
}

.bgImg-1 {
  background-image: url("/images/photo-experience-large.jpg");
  background-repeat:no-repeat;  // wanted to optimise background properties but for some reason images didn't work
  background-position:center;
}

.bgImg-2 {
  background-image: url("/images/developer-large.jpg");
  height:320px;
  background-repeat:no-repeat;
  background-position:center;

}
.bgImg-3 {
  background:$bg2;
  width:80%;
  height:100%;
  margin-left:10%;
  padding-bottom:4em;
}

.bgImg-3 h1{
  color:white;
  text-align:center;
}

.bgImg-3 p,ul,li{
  color:white;
  text-align:center;
}

.bgImg-4{
  background-image: url("/images/contact-lg.png");
  background-position:40% 50%;
  height:320px;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))) // gradient to fade to transparency
}

.bgImg-5 {
  background-image: url("/images/blog.jpg");
  background-repeat:no-repeat;
  background-position:center;
  height:250px;
  bakground-size:100% 100%;
}


.profile-one{
  background-image: url("/images/jj.jpg");
  background-repeat: no-repeat;
  background-position:83% 82%;
  transform:translateY(70%);
}

.profile-two{
  background-image: url("/images/blog-small.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
  transform:translateY(70%);
}



// Landing page images

.side.left{
  left:0;
  background: url("/images/landingcode.jpg") center center no-repeat;
  background-size: cover;
}

.side.right{
  right:0;
  background: url("/images/contact-md.png");
  background-size:cover;
}

