.bgImg {
  background-image: url("https://images.unsplash.com/photo-1504639725590-34d0984388bd?auto=format&fit=crop&w=1867&q=80");
  height:320px;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); // gradient to fade to transparency
}

.bgImg-1 {
  background-image: url("/images/photo-experience large.jpg");
  background-repeat:no-repeat;
  background-position:center;
}

.bgImg-2 {
  background-image: url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?auto=format&fit=crop&w=1950&q=80");
  height:320px;

}
.bgImg-3 {
  background:$bg2;
  width:80%;
  height:100%;
  margin-left:10%;
  padding-bottom:4em;
}

.bgImg-3 h1{
  color:white;
  text-align:center;
}

.bgImg-3 p,ul,li{
  color:white;
  text-align:center;
}

.bgImg-4{
  background-image: url("/images/contact-lg.png");
  background-position:40% 50%;
  height:320px;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))) // gradient to fade to transparency
}

.bgImg-5 {
  background-image: url("/images/blog.jpg");
  background-repeat:no-repeat;
  background-position:center;
  height:250px;
  bakground-size:100% 100%;
}


.profile-one{
  background-image: url("/images/jj.jpg");
  background-repeat: no-repeat;
  background-position:83% 82%;
  transform:translateY(70%);
}

.profile-two{
  background-image: url("/images/blog.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
  transform:translateY(70%);
}



