.topmarg {
  margin-top:60px;
  margin-left:40px;
  background: rgba(0, 0, 0, 0.7);
}

.topmarg,h1{
  color:white;
}

.mqsix p{
  text-align:center;
  font-weight:bold;
}

.circled{
  margin:10px auto; //centers within div with width value
  height:100px;
  width:100px;
  border-radius:100%;
  border:3px solid white;
  background-color:black;
  box-shadow: 0 5px 10px #555;
}

.icongrid-1{
  margin:13px 0 0 7px;
}

.icongrid-2{
  margin:13px 0 0 11px;
}

.icongrid-3{
  margin:12px 0 0 20px;
  padding:0;
}

.icongrid-4 {
  margin:15px 0 0 15px;
}

.buffer {
  height:30px;
}

#grad2 {
  background: linear-gradient($bg, white);
  height:40px;
}

#grad3 {
  background: linear-gradient(white, #24252D);
  height:40px;
}

#grad4 {
  background: linear-gradient($bg, $footer);
  height:40px;
}

.bgImg-3 {
  background:#FFFFFF;
  height:320px;
}
.bgImg-3 h1{
  color:black;
}


.marg {
  margin-left:40px;
  background: rgba(0, 0, 0, 0.7);
}

.marg,h2,h3{
  color:white;
}
.center {
  margin:0 auto;
  text-align:center;
}

.container {
  padding:20px;
  margin:0 auto;
  max-width:500px;
  text-align:center;

}

.footer {
  background:$footer;
  height:320px;
}

.bold {
  font-weight:bold;
}

hello-component {
  z-index:-1;
}

#welcome-banner {
  display:block;
}

.footer p {
  color:white;
  margin-left:25px;
}