[class*='picturequote-'] {
  background: rgba(0, 0, 0, 0.7);
  width:100%;
  text-align:center;
  & h1{
    color:white;
    text-align:center;
  }
}

.picturequote-two{
  margin-top:60px;
}

.picturequote-one {
  margin-top:-6%;
}


.mqsix p{
  text-align:center;
  font-weight:bold;
}

.circled{
  margin:10px auto; //centers within div with width value
  height:100px;
  width:100px;
  border-radius:100%;
  border:3px solid white;
  background-color:black;
  box-shadow: 0 5px 10px #555;
}

.profilecircled{
  margin:10px auto; //centers within div with width value
  height:200px;
  width:200px;
  border-radius:50%;
  border:3px solid white;
  box-shadow: 0 5px 10px #555;
}

.profilecircled-two{
  margin:10px auto; //centers within div with width value
  height:200px;
  width:320px;
  border:3px solid white;
  box-shadow: 0 5px 10px #555;
}

.icongrid-1{
  margin:13px 0 0 7px;
}

.icongrid-2{
  margin:13px 0 0 11px;
}

.icongrid-3{
  margin:12px 0 0 20px;
  padding:0;
}

.icongrid-4 {
  margin:15px 0 0 15px;
}

.buffer {
  height:30px;
}

#grad2 {
  background: linear-gradient($bg, $bg2);
  height:40px;
}

#grad3 {
  background: linear-gradient($bg2, #24252D);
  height:40px;
}

#grad4 {
  background: linear-gradient($bg, $footer);
  height:40px;
}


.marg {
  margin-left:40px;
  background: rgba(0, 0, 0, 0.7);
}

.marg,h2,h3{
  color:white;
}
.center {
  margin:10 auto;
  padding-top:.11em;
  text-align:center;
}

[class*='skills-']{
  margin:15px auto; //centers within div with width value
  height:100px;
  width:100px;
  border-radius:50%;
  background:$blue;
  padding-top:.25em;
  border:3px solid $bg2;
}

.bold {
  font-weight:bold;
}


#welcome-banner {
  display:block;
}

.container-one {
  width:80%;
  margin-left:10%;
  margin-top:120px;
}

.container-two {
  width:80%;
  margin-left:10%;
  margin-top:35px;
}
.experience-list li{
  list-style: square inside none;
  margin-left: 20%;
  text-align: left;
}

.fa-quote-left {
  color:black;
  margin-left:20px;
}
